[submodule ".vim"]
	path = .vim
	url = git@github.com:vsyf/vim.git
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "buildtools"]
	path = buildtools
	url = https://chromium.googlesource.com/chromium/src/buildtools
[submodule ".oh-my-bash"]
	path = .oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
